<table>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Likes</th>
        <th>Description</th>
    </tr>
        {% for project in projects %}
        <tr valign="top">
            <td><a href="{{ url_for( 'dev.project', project_id=project.id) }}">{{project.name}}</a></td>
            <td>{{project.status}}</td>
            <td>{{project.likes()}}</td>
            <td>{{project.description}}</td>
        </tr>
        {% endfor %}
</table>
{% if prev_url %}
<a href="{{ prev_url }}">Previous</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Next</a>
{% endif %}