<html>
<head>
    {% if title %}
    <title>{{ title }} - Microblog!</title>
    {% else %}
    <title>Welcome to Microblog!</title>
    {% endif %}
</head>
</html>
<body>
    <div>
    Microblog:
        <a href="{{ url_for('dev.explore') }}">Explore</a>
    {% if current_user.is_anonymous %}
        <a href="{{ url_for('dev.login') }}">Login</a>
    {% else %}
        <a href="{{ url_for('dev.user', username=current_user.username) }}">My Profile</a>
        <a href="{{ url_for('dev.my_projects') }}">My Projects</a>
        <a href="{{ url_for('dev.logout') }}">Logout</a>
    {% endif %}
    </div>
    <!-- "with" - define a new variable in a certain scope -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages%}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>