{% extends "nav_bar2(demo).html" %}

{% block content %}
    <head>
        <title>Project_Create</title>
    </head>
    <h1>New Project </h1>
    <form action="" method ="post">
        {{ form.hidden_tag() }} <!-- csrf protection token (hidden field added to form for token) -->
        <p>
            {{ form.name.label }}:<br>
            {{ form.name(size=32) }}
            {% for error in form.name.errors %}
            <span style="color: red;"> {{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}:<br>
            {{ form.description() }}
            {% for error in form.description.errors %}
            <span style="color: red;"> {{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}