{% extends "dev/base.html" %}

{% block content %}
    <h1> {{ project.name}}</h1>
    <p>Join Date: {{project.status}}</p>
    <p>Description:{{project.description}}</p>
    <p>Likes: {{project.likes()}}</p>
    <p>Creation Date: {{project.creation_date}} </p>
    <p>Last Update: {{project.last_update}} </p>

    {% if current_user.is_authenticated %}
        {% if current_user.has_liked_project(project) %}
        <p><a href="{{ url_for('dev.unlike_project', project_id=project.id) }}">Unlike</a></p>
        {% else %}
        <p><a href="{{ url_for('dev.like_project', project_id=project.id) }}">Like</a></p>
        {% endif %}
    {% endif %}
    <p><span>tags:
        {% for tag in project.tags %}
            {{tag}}
        {% endfor %}
    </span>
    {% if current_user.is_authenticated %}
        {% if current_user in project.contributors %}
            <a href="{{ url_for( 'dev.edit_project', project_id=project.id) }}">Edit</a>
        {% endif %}
    {% endif %}


    <h2>Contributors</h2>
    <p> {% for contributor in project.contributors %}
            <a href="{{ url_for( 'dev.user', username=contributor.username) }}">{{contributor.username}}</a>
        {% endfor %}

{% endblock %}