<html lang="en">
<head>

    {% if title %}
    <title>{{ title }} - Microblog!</title>
    {% else %}
    <title>Welcome to Microblog!</title>
    {% endif %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/Logo.PNG">

    <!-- Bootstrap core CSS -->
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}

    {% block head %}{% endblock %}
    <link href="../static/vendor/Floating labels for Bootstrap_files/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/Offcanvas template for Bootstrap_files/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/Navbar Template for Bootstrap_files/bootstrap.min.css" rel="stylesheet">

    <link href="../static/vendor/Floating labels for Bootstrap_files/floating-labels.css" rel="stylesheet">
    <link href="../static/vendor/Offcanvas template for Bootstrap_files/offcanvas.css" rel="stylesheet">
    <link href="../static/vendor/Navbar Template for Bootstrap_files/navbar.css" rel="stylesheet">

    <link href="../static/css/base.css" rel="stylesheet">


</head>
<body>
<!-- navbar -->
<div>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <img class="navbar-brand" class="mb-4" src="../static/images/Logo.PNG" alt="" width="45" height="45">
        <!-- search bar -->
        <form class="" method="get" action="{{ url_for('main.search') }}">
            <div class="form-inline my-2 my-md-0">
                {{ g.search_form.q(class='form-control', placeholder=g.search_form.q.label.text, size=64) }}
            </div>
        </form>
        <!-- search bar -->

        <!-- links -->
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.explore') }}">Home</a>
                </li>
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.user', username=current_user.username) }}">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.my_projects') }}">My Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
<!-- navbar -->


<!-- main content -->
<main role="main" class="container">

    <div class="my-3 p-3 bg-white rounded shadow-sm">

        <!-- "with" - define a new variable in a certain scope -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages%}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</main>
<!-- main content -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block scripts %}{% endblock %}
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../static/vendor/Clean Blog - Start Bootstrap Theme_files/jquery.min.js"></script>
<script src="../static/vendor/Clean Blog - Start Bootstrap Theme_files/bootstrap.bundle.min.js"></script>
<script src="../static/vendor/Clean Blog - Start Bootstrap Theme_files/clean-blog.min.js"></script>
<script src="../static/vendor/Navbar Template for Bootstrap_files/popper.min.js"></script>
<script src="../static/vendor/Navbar Template for Bootstrap_files/bootstrap.min.js"></script>
<script src="../static/vendor/Navbar Template for Bootstrap_files/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
</body>
</html>