{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<span>
<h1>{{ project.name}}</h1>
<!-- like button -->
{% if current_user.is_authenticated %}
{% if current_user.has_liked_project(project) %}
<p><a href="{{ url_for('main.unlike_project', project_id=project.id) }}">
    <button class="btn btn-primary">
        Unlike {{ project.likes() }}
    </button>
</a></p>
{% else %}
<p><a href="{{ url_for('main.like_project', project_id=project.id) }}">
    <button class="btn btn-primary">
        Like {{ project.likes() }}
    </button>
</a></p>
{% endif %}
{% else %}
<p><a href="#">
    <button class="btn btn-primary">
        Likes {{ project.likes() }}
    </button>
</a></p>
{% endif %}
<!-- like button -->
    </span>
<em>Last updated on {{ moment(project.last_update).format('LL') }}</em>
<p>{{project.description}}</p>


<!--<p><span>tags:
        {% for tag in project.tags %}
            {{tag}}
        {% endfor %}
    </span>-->
<center><h2>Contributors</h2></center>
{% include "_contributor_list.html" %}
{% endblock %}

