{% extends "nav_bar(demo).html" %}

{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!---*************welcome this is my simple empty strap by John Niro Yumang ******************* -->

<!DOCTYPE html>
<html lang="en">

	<title>Sign up ProjectConnect</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<head>
		<script src="../static/jquery/jquery.min.js"></script>
		<!---- jquery link local dont forget to place this in first than other script or link or may not work ---->
		
		<link rel="stylesheet" href="../static/Floating labels for Bootstrap_files/bootstrap.min.css">
		<!---- boostrap.min link local ----->
		
		<!---- boostrap.min link local ----->

		<script src="../static/Floating labels for Bootstrap_files/bootstrap.min.js"></script>
		<!---- Boostrap js link local ----->
		
		<link rel="icon" href="./images/icon.png" type="image/x-icon" />
		<!---- Icon link local ----->
		
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<!---- Font awesom link local ----->
	</head>
	<body>
	<div class="container-fluid">
		<div class="container">
			<h2 class="text-center" id="title">Project Connect</h2>
 			<hr>
			<div class="row">
				<div class="col-md-5">
 					<form role="form" action="" method="post" >
						<fieldset>							
						    <form action="" method ="post">
						        {{ form.hidden_tag() }} <!-- csrf protection token (hidden field added to form for token) -->
						        <p>
						            {{ form.username.label }}:<br>
						            {{ form.username(size=32) }}
						            {% for error in form.username.errors %}
						            <span style="color: red;"> {{ error }}</span>
						            {% endfor %}
						        </p>
						        <p>
						            {{ form.email.label}}:<br>
						            {{ form.email(size=32) }}
						            {% for error in form.email.errors %}
						            <span style="color: red;"> {{ error }}</span>
						            {% endfor %}
						        </p>
						        <p>
						            {{ form.password.label}}:<br>
						            {{ form.password(size=32) }}
						            {% for error in form.password.errors %}
						            <span style="color: red;"> {{ error }}</span>
						            {% endfor %}
						        </p>
						        <p>
						            {{ form.password2.label}}:<br>
						            {{ form.password2(size=32) }}
						            {% for error in form.password2.errors %}
						            <span style="color: red;"> {{ error }}</span>
						            {% endfor %}
						        </p>
						        <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                  By Clicking register you're agree to our <a href="">policy & terms</a> 
                                </label>

						        <p>{{ form.submit() }}</p>
						    </form>


						</fieldset>
					</form>
				</div>
				
				<div class="col-md-2">
					<!-------null------>
				</div>
		</div>
	</div>
	</body>
	 

</html>
{% endblock %}