{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/user.css">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 text-center">
                            <img src="../static/images/user.png" alt="" class="btn-md">
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <h2 class="card-title">{{ user.firstname }} {{user.lastname }}</h2>
                            <p>
                                <span><em>"{{user.username }}"</em></span>
                                <span>
                                {% if current_user.is_authenticated %}
                                {% if current_user == user %}
                                    <a href="{{ url_for( 'main.edit_user', username=user.username) }}">
                                        <img src="../static/images//baseline-edit-24px.svg"
                                             alt="" class="filter-white">
                                    </a>
                                {% else %}
                                    <a href="{{ url_for( 'main.invite_to_project', username=user.username) }}">
                                        <img src="../static/images/baseline-group_add-24px.svg"
                                             alt="" class="filter-white">
                                    </a>
                                {% endif %}
                                {% endif %}
                                </span>
                            </p>
                            <p>Member Since {{ moment(user.date_joined).format('LL') }}</p>
                            <p class="card-text"><strong>Major: </strong> {{ user.major }} </p>
                            <p><strong>Skills: </strong>
                                {% set items = user.skills %}
                                {% include "_clickable_list.html" %}
                            </p>
                            <p><b><a href=" mailto:{{ user.email }}">{{ user.email }} </a></b></p>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <p><strong>Interests: </strong> {{ user.interests }}</p>
                            <p><strong>About Me: </strong> {{ user.about }}</p>
                            <em>Active {{ moment(user.last_seen).fromNow() }}</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="my-2">
<div class="col-12">
    <h1>Projects</h1>
    {% include "_project_list.html" %}
</div>
{% endblock %}
<!-- End Content -->

<!-- Scripts -->
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
{% endblock %}