{% extends "base.html" %}

{% block content %}

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-5">
                <div class="profile-head">
                    <h1>
                        {{ user.username }}
                    </h1>
                    <h6>
                        Member Since: {{  moment(user.date_joined).format('LL') }}
                    </h6>
                    <h6>
                        Active {{  moment(user.last_seen).fromNow() }}
                    </h6>

                    <p><span> Skills:
                                        {% for skill in user.skills %}
                                        {{skill}}
                                        {% endfor %}
                                    </span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">

                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        {% include "_project_list.html" %}

                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p><b>
                                    <a href=" mailto:{{ user.email }}">{{ user.email }} </a>
                                </b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p><b>123 456 7890</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Major(s)</label>
                            </div>
                            <div class="col-md-6">
                                <p><b> {{ user.major }}</b></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

